<% provide(:page_title, 'Добро пожаловать!') %>
<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>
      <div class="field">
        <%= f.label :family %><br />
        <%= f.text_field :family, class: 'form-control', autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :surename %><br />
        <%= f.text_field :surename, class: 'form-control', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(Введите пароль для изменений)</i><br />
        <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
      </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
      <br>
      <br>
<h3>Изменить пароль</h3>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
  </div>

 <br>

  <div class="actions">
    <%= f.submit "Обновить информацию", :class => "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>