<% provide(:page_title, 'Добро пожаловать!') %>
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">

        <li><a href="/balance">Бонусный счёт</a></li>
        <li class="active"><a href="#">Профиль</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Заказать образцы</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="/issues">Задать вопрос</a></li>
        <li><a href="#">Вебинары</a></li>

        <li><a href="#">Информация</a></li>

      </ul>
    </div>
    <div class="col-sm-9">
      <h4><%= current_user_full_name%></h4>

      <div class="row">
        <div class="col-md-3">почта:</div>
        <div class="col-md-3"><p><%= current_user.email%></p></div>
      </div>
      <div class="row">
        <div class="col-md-3">Телефон:</div>
        <div class="col-md-3"><p class="text-primary"><%= current_user.telephone%></p></div>
      </div>
      <div class="row">
        <div class="col-md-3">компания*:</div>
        <div class="col-md-3"><p><%= current_user.company%></p></div>
      </div>
      <div class="row">
        <div class="col-md-3">город*:</div>
        <div class="col-md-3"><p>Не известно</p></div>
      </div>
      <div class="row">
        <div class="col-md-3">Адрес:</div>
        <div class="col-md-3"><p><%= current_user.address%></p></div>
      </div>
      <%= link_to('Редактировать профиль', edit_user_registration_path, :class => "btn btn-default btn-sm", :role=>"button") %>
      <br>
      <br>

      <div class="row">
        <div class="col-md-3">Точки продаж: <%= link_to('Добавить', outlet_new_path,
                                                        :class => "btn btn-default btn-xs",
                                                        :role=>"button")
        %></div>
        <div class="col-md-3">

          <ul>
            <%current_user.outlets.each do |outlet|%>
                <li><%= outlet.name%><p class="small text-info"><%= outlet.city%></p></li>

            <% end%>

            <li>ЗАО Ткани<p class="small text-info">СПБ</p></li>
          </ul>

        </div>
      </div>



    </div>

  </div>
</div>
</div>

