<% provide(:page_title, 'Добро пожаловать!') %>
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">

        <li class="active"><a href="/admin/clients">Клиенты</a></li>

        <li><a href="#">Заявки на заказ образцов</a></li>
        <li><a href="#">Зарегистрированные продажи</a></li>
        <li><a href="#">Подиумные диваны</a></li>
        <li><a href="#">Заявки на обмен</a></li>
        <li><a href="#">Заданные вопросы</a></li>
        <li><a href="#">Отзывы клиентов</a></li>
        <li><a href="#">Профиль</a></li>

        <li><a href="#">Информация</a></li>

      </ul>
    </div>
    <div class="col-sm-9">
      <h4><%= current_user_full_name%></h4>

      <table class="table table-condensed small table-bordered table-hover" >
        <thead>
        <tr>
          <th>ID</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Логин/e-mail</th>
          <th>Телефон</th>
          <th>Город</th>
        </tr>
        </thead>
        <tbody>
        <% @clients.each do |client|%>


        <tr>
          <td><%= client.id %></td>
          <td><%= client.family %></td>
          <td><%= client.name %></td>
          <td><%= client.surename %></td>
          <td><%= client.email %></td>
          <td></td>
          <td><%= client.email %></td>
        </tr>
        <%end%>


        </tbody>
      </table>
    </div>

  </div>
</div>
</div>

