<% provide(:page_title, 'Вход') %>
<div class="container">
<div class="row">
  <div class="col-md-4">
  <h2>Вход в личный кабинет</h2>
  <div class="form-group">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Запомнить меня" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти", :class => "btn btn-primary" %>
  </div>
<% end %>
    <br>

<%= render "devise/shared/links" %>
  </div>
  </div>
  </div>
</div>

