<ul class="nav nav-pills nav-stacked">

  <li class="<%= 'active' if params[:controller] == 'balance' %>"> <a href="/balance">Бонусный счёт</a> </li>
  <li class="<%= 'active' if params[:controller] == 'static' %>"> <a href="/">Профиль</a> </li>
  <li class="<%= 'active' if params[:controller] == 'controller3' %>"> <a href="/">Акции</a> </li>
  <li class="<%= 'active' if params[:controller] == 'controller3' %>"> <a href="/">Новинки</a> </li>
  <li class="<%= 'active' if params[:controller] == 'sample' %>"> <a href="/samples">Заказать образцы</a> </li>
  <li class="<%= 'active' if params[:controller] == 'comment' %>"> <a href="/comments">Отзывы</a> </li>
  <li class="<%= 'active' if params[:controller] == 'issue' %>"> <a href="/issues">Задать вопрос</a> </li>
  <li class="<%= 'active' if params[:controller] == 'controller3' %>"> <a href="/">Вебинары</a> </li>
  <li class="<%= 'active' if params[:controller] == 'controller3' %>"> <a href="/">Link</a> </li>

</ul>